
{% block content %}
<header>
    <nav>
        <ul>
            <li><a href="{% url 'home:home' %}">Home</a></li>
            <li><a href="{% url 'projects:tracked_projects' %}">Tracked Projects</a></li>
            <li><a href="{% url 'home:report' %}">Report a Case</a></li>
            <li><a href="{% url 'home:raised_cases' %}">View Reported Cases</a></li>
            <li><a href="{% url 'projects:reported_projects' %}">View Projects</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'home:logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'home:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<div class="container">
    <h1>User Profile</h1>
    <p>Welcome to your profile, <strong>{{ user.username }}</strong>!</p>
    {% if user.tracked_projects.count > 0 %}
    <p>You have <strong>{{ user.tracked_projects.count }}</strong>
        <a href="{% url 'projects:tracked_projects' %}">projects tracked.</a></p>
    {% else %}
    <p>You have no projects tracked.</p>
    {% endif %}
    {% if user.tracked_cases.count > 0 %}
    <p>You have <strong>{{ user.tracked_cases.count }}</strong>
        <a href="{% url 'home:tracked_cases' %}">cases tracked.</a></p>
    {% else %}
    <p>You have no cases tracked.</p>
    {% endif %}
</div>
{% endblock %}