{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/report_project.css' %}">
    <link rel="stylesheet" href="{% static 'css/view_contract.css' %}">
    <link rel="stylesheet" href="{% static 'css/project_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/view_reported_projects.css' %}">
    <link rel="stylesheet" href="{% static 'css/tracked_project.css' %}">

</head>
<body>
    {% block content %}
<div class="container">
    <h1>Projects Homepage</h1>
    <p>Report, view or track projects here.</p>
    <p>We review all government projects launched, in-progress, stalled and completed.</p>
    <p>For accountability and transparency, help us reach a wide audience.</p>
    <a href="{% url 'projects:report_project' %}" class="btn">Report Project</a>
    <a href="{% url 'projects:reported_projects' %}" class="btn">View Reported Projects</a>
</div>
{% endblock %}
</body>
</html>