{% extends 'project/homepage.html' %}

{% block content %}
<div class="project-container">
    {% if project %}
        <h2>Project Details</h2>
        <p class="project-info"><strong>Project Title:</strong> {{ project.project_title }}</p>
        <p class="project-info"><strong>Status:</strong> {{ project.status }}</p>
        <p class="project-info"><strong>Location:</strong> {{ project.location }}</p>
        <p class="project-info"><strong>Launched By:</strong> {{ project.launched_by }}</p>
        <p class="project-info"><strong>Contractor:</strong> {{ project.contractor }}</p>
        <p class="project-info"><strong>Amount Allocated:</strong> Ksh/{{ project.amount_allocated }}</p>
        <p class="project-overview"><strong>Overview:</strong> {{ project.overview }}</p>
        <p class="project-overview"><strong>Start Date:</strong> {{ project.project_start_date }}</p>
        <p class="project-overview"><strong>End Date:</strong> {{ project.project_end_date }}</p>
        <p class="project-overview"><strong>Reporter Name:</strong> {{ project.reporter_name }}</p>
        <p class="project-overview"><strong>Reporter Phone Number:</strong> {{ project.reporter_phone_number }}</p>
    {% endif %}
    <a href="{% url 'projects:reported_projects' %}">Back to Projects</a>
    <div>
        {% if user.is_authenticated %}
        <a href="{% url 'projects:track_project' project.id %}" class="track-project-button">Track Project</a>
    {% else %}
    
        <a href="{% url 'home:login' %}?next={{ request.path }}" class="login-button">Track Project</a>
    </a>
    {% endif %}
    </div>
</div>
{% endblock %}
