{% extends 'project/homepage.html' %}

{% block content %}
<h1>You are currently tracking {{ tracked_projects.count }} projects.</h1>
<div class="container">
    {% if tracked_projects %}
        {% for project in tracked_projects %}
            <div class="project-card">
                <p><strong>Project ID:</strong> {{ project.project_id }}</p>
                <p><strong>Project Name:</strong> {{ project.project_title }}</p>
                <p><strong>Project Description:</strong> {{ project.overview }}</p>
                <p><strong>Project Start Date:</strong> {{ project.project_start_date }}</p>
                <p><strong>Project End Date:</strong> {{ project.project_end_date }}</p>
                <p><strong>Reporter Name:</strong> {{ project.reporter_name }}</p>
                <p><strong>Reporter Phone Number:</strong> {{ project.reporter_phone_number }}</p>
                <p><a href="{% url 'projects:view_contract' project.id %}">View Contract</a></p>
            </div>
        {% endfor %}
    {% else %}
        <p class="no-projects">No tracked projects available.</p>
    {% endif %}
    <p><a href="{% url 'projects:reported_projects' %}">Back to Reported Projects</a></p>
   
</div>
{% endblock %}