{% extends 'project/homepage.html' %}

{% block content %}
<h1>Reported Projects</h1>

{% for project in projects %}
    <div class="project-container">
        <div class="project-title"> <strong>Project Title:</strong> {{ project.project_title }}</div>
        <p class="project-info"><strong>Location:</strong> {{ project.location }}</p>
        <p class="project-info"><strong>Launched By:</strong> {{ project.launched_by }}</p>
        <p class="project-info"><strong>Contractor:</strong> {{ project.contractor }}</p>
        <p class="project-info"><strong>Status:</strong> {{ project.status }}</p>
        <a class="login-button" href="{% url 'projects:project_details' project.id %}">Details</a>
        
        <div class="track-project-container">
      
        </div>
    </div>
{% endfor %}
{% endblock %}
