{% extends 'home/home.html' %}
{% block content %}
    {% for authority in authorities %}
        <div class="authority-card">
            <div class="authority-info">
                <p>{{ authority.names }}</p>
                <p>Department: {{ authority.department }}</p>
                <p>Location: {{ authority.location }}</p>
                <p>Charges: {{ authority.charges }}</p>
                <p><a href="{% url 'home:lawyer_chat' authority.id %}">Chat</a></p>
            </div>
            <img src="{{ authority.photo }}" alt="{{ authority.names }}" class="authority-photo">
            
        </div>
    {% empty %}
        <p>No authorities found.</p>
    {% endfor %}
</div>

{% endblock %}